<h1>Add another image!</h1>

<br><br><br>

<form action="/pictures" method="post">
	<label for="New URL">Image URL</label>
	<input autofocus type="text" name="new_url" id="New URL">

	<label for="Caption">Caption</label>
	<textarea name="caption" id="Caption"></textarea>

	<input class="btn btn-primary" type="submit" name="submit" value="Submit">
</form>

<br><br>

<a class="btn btn-inverse" href="/pictures">Back</a>