<h1><%= @pic.caption %></h1>

<br><br>

<a class="btn btn-inverse" href="/pictures">Back</a>
<a class="btn btn-inverse" href="/pictures/<%= @pic_id %>/edit">Edit</a>

<br><br>

<img src="<%= @pic.url %>">

<br><br>
